---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import BaseLayout from "../../layouts/BaseLayout.astro";
import headshot from "../../assets/good_enough2.png";
import { Image } from "astro:assets";
import Typography from "../../components/typography/Typography.astro";
import SocialBar from "../../components/SocialBar.astro";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="px-6 py-4">
    <section class="mx-auto flex flex-col items-center gap-4">
      <div class="avatar flex justify-center">
        <div class="mask mask-squircle w-32">
          <Image src={headshot} alt="A headshot of Connor Wade" />
        </div>
      </div>
      <div>
        <Typography variant="headline">Connor Wade</Typography>
        <Typography variant="title" size="md" class="text-center"
          >Software Engineer</Typography
        >
      </div>

      <SocialBar />
      <Typography as="p" variant="body" size="lg">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus
        amet doloribus odio, eaque sunt quod eum placeat natus quae libero
        corrupti eveniet laborum voluptate unde deleniti! Neque praesentium
        inventore iste!
      </Typography>
    </section>
  </main>
</BaseLayout>
