---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Connor Wade - Resume"
  description="The online resume for Connor Wade"
>
  <main class="m-10">
    <section class="mb-5">
      <h1 class="text-3xl font-bold">Resume</h1>
      <h4 class="">
        <span class="font-bold">Email:</span> connor.wade.ut@gmail.com
      </h4>
      <h4><span class="font-bold">Location:</span> Salt Lake City, Utah</h4>
      <h4><span class="font-bold">Phone:</span> (801) 856-4733</h4>
      <h4 class="link hover:text-secondary"></h4>
      <span class="font-bold"> Github:</span><a
        href="https://github.com/connorwade"
        rel=""
      >
        https://github.com/connorwade
      </a>
    </section>

    <section class="mb-5">
      <h2 class="text-2xl underline font-bold">SKILLS</h2>
      <p>
        <ul class="list-disc">
          <li>
            <span class="font-bold">Programming Languages:</span> JavaScript, TypeScript,
            Go, CSS, Dart, Java, Python, HTML
          </li>
          <li>
            <span class="font-bold">Frontend:</span> React, Svelte, NextJS, TailwindCSS,
            SCSS, Flutter
          </li>
          <li>
            <span class="font-bold">Backend:</span> Node.js, SQL, Postgres. GraphQL,
            RESTful APIs, Docker
          </li>
          <li>
            <span class="font-bold">Testing:</span> Playwright, Webdriver.io, Selenium,
            Jest, Mocha, Chai, Web Scraping, Performance Testing
          </li>
          <li>
            <span class="font-bold">Tools:</span> Git, Github, npm, class yarn, pnpm,
            Rollup, esbuild, vite, Webpack 5, Postman, AEM
          </li>
        </ul>
      </p>
    </section>

    <section class="mb-5">
      <h2 class="font-bold text-2xl underline">RELEVANT EXPERIENCE</h2>
      <div class="py-3">
        <h4 class="flex justify-between">
          <span class="font-bold"
            >Lead Software Development Engineer, Hoodoo Digital/Rightpoint</span
          ><span class="font-bold">October 2020 - Present</span>
        </h4>
        <ul class="list-disc">
          <li>
            Managed and mentored team of 4 engineers in building new tools and
            working with clients
          </li>
          <li>
            Developed websites for clients using HTML, JavaScript, TypeScript,
            CSS, and Java
          </li>
          <li>
            Created a TypeScript Playwright framework for AEM that does
            performance testing, ADA testing, E2E testing, API testing, and
            network testing
          </li>
          <li>
            Created a configurable Go CLI crawler/scraper that allows anyone to
            do quality checks for their website and receive reports in JSON,
            HTML, and CSV
          </li>
          <li>
            Served as developer on internal tool for managing AEM on the cloud
            with Go, JavaScript, Kubernetes, and Java
          </li>
          <li>
            Started the “Coding Lunches” initiative where engineers could
            present for an hour about a topic of their choice
          </li>
          <li>
            Started mob programming sessions to better mentor newer engineers
            about coding
          </li>
        </ul>
      </div>
      <div class="py-3">
        <h4 class="flex justify-between">
          <span class="font-bold">Frontend Engineer, Freelance Contractor</span
          ><span class="font-bold">March 2018 - October 2020</span>
        </h4>
        <ul class="list-disc">
          <li>Helped customers with CMS’s like Wordpress and Squarespace</li>
          <li>Built custom CSS and components for customers</li>
          <li>Built authoring frameworks in React for customers to use</li>
        </ul>
      </div>
    </section>
  </main>
</BaseLayout>
