---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
import ArticleCard from "../components/ArticleCard.astro";
import Icon from "../components/Icon.astro";
import { getBlogs, sortBlogs } from "../utils";
import { Image } from "astro:assets";
import headshot from "../assets/good_enough2.png";
import Typography from "../components/typography/Typography.astro";

const posts = await getBlogs();
const sortedPosts = sortBlogs(posts);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="px-6 py-4">
    <Typography as="h2" variant="display" class="text-primary"
      >I'm not a furry you weirdo</Typography
    >
    <Typography as="h5" variant="title"
      >I'm an engineer, software developer</Typography
    >

    <div class="mt-8 flex flex-row flex-wrap items-center gap-4">
      {
        sortedPosts.map((post) => {
          return <ArticleCard postData={post.data} postSlug={post.slug} />;
        })
      }
    </div>
  </main>
</BaseLayout>
