---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
import ArticleCard from "../components/ArticleCard.astro";
import { getCollection } from "astro:content";
import Icon from "../components/Icon.astro";
import { getBlogs, sortBlogs } from "../utils";

const posts = await getBlogs();
const sortedPosts = sortBlogs(posts);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <section class="flex flex-col items-center justify-center mt-10 mb-4">
      <div class="avatar flex justify-center my-5">
        <div class="w-32 rounded-full">
          <img src="/good_enough2.png" alt="A headshot of Connor Wade" />
        </div>
      </div>
      <h3 class="text-lg text-center">Engineer, Software Developer</h3>
      <p class="text-base text-center mt-5 lg:w-1/2 md:w-2/3 w-screen">
        I am a Fullstack Engineer and tech lead. I regularly work with
        TypeScript, JavaScript, Go, Python, and Rust. I am currently interested
        in WASM (and other bytecode interpreters), component libraries focused
        on design, open-source development, client and server performance, and
        AI integration.
      </p>

      <p class="text-base text-center mt-2 mb-5 lg:w-1/2 md:w-2/3 w-screen">
        Check out my open-source projects like spamlet, a simple crawler plugin
        for Playwright.
      </p>
      <div class="links flex justify-around flex-row md:w-1/6 w-1/4">
        <a href="https://github.com/connorwade" title="My Github"
          ><Icon icon="github" /></a
        >
        <a
          href="https://www.linkedin.com/in/connor-wade-2094681a0/"
          title="My Linkedin"><Icon icon="linkedin" /></a
        >
      </div>
    </section>

    <div class="post-list flex flex-col items-center">
      {
        sortedPosts.map((post) => {
          return <ArticleCard postData={post.data} postSlug={post.slug} />;
        })
      }
    </div>
  </main>
</BaseLayout>
