---
interface Props {
  postData: {
    title: string;
    description: string;
    pubDate: Date;
    updatedDate?: Date | undefined;
    heroImage?: string | undefined;
  };
  postSlug: string;
}
import FormattedDate from "./FormattedDate.astro";
import Typography from "./typography/Typography.astro";
let { postData, postSlug } = Astro.props;
---

<a
  class="card bg-base-100 card-md shadow-base-300 block h-full w-96 grow border border-transparent shadow-sm transition-shadow hover:shadow-lg"
  href={`/blog/${postSlug}`}
>
  <div class="card-body">
    <Typography variant="title" as="h3">{postData.title}</Typography>
    <Typography variant="title" as="h6" size="sm"
      >Published on <FormattedDate date={postData.pubDate} /></Typography
    >
    <Typography variant="body" as="p">
      {postData.description}
    </Typography>
    <div class="card-actions justify-end">
      <Typography variant="body" as="span">Read more</Typography>
    </div>
  </div>
</a>
