---
import HeaderLink from "./HeaderLink.astro";
import NavMenu from "./NavMenu.astro";
import Icon from "./Icon.astro";
import { SITE_TITLE, HEADER_LINKS } from "../consts";
import ThemeController from "./ThemeController.astro";
---

<header class="navbar bg-base-300 px-3 lg:px-8">
  <div class="navbar-start">
    <a href="/"
      ><h2 class="hover:text-accent text-2xl font-extrabold">
        {SITE_TITLE}
      </h2></a
    >
  </div>

  <div class="navbar-end">
    <NavMenu links={HEADER_LINKS} />
    <ThemeController />
  </div>
</header>
