---
import type { HTMLAttributes } from "astro/types";
import Typography from "./typography/Typography.astro";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <Typography variant="body" as="span" size="lg">
    <slot />
  </Typography>
</a>
