---
import Icon from "./Icon.astro";
---

<div class="links flex w-1/4 flex-row justify-around md:w-1/6">
  <a
    class="hover:text-info"
    href="https://github.com/connorwade"
    title="My Github"><Icon icon="github" /></a
  >
  <a
    class="hover:text-info"
    href="https://www.linkedin.com/in/connor-wade-2094681a0/"
    title="My Linkedin"><Icon icon="linkedin" /></a
  >
</div>
